body {
    background-color: #3513cd;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    align-items: center;
    height: 100%;
}

.table-container {
    overflow-x: auto;
    margin: 0 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #323145;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #323145;
}

tbody tr:nth-child(odd) {
    background-color: #29293d;
}

tbody tr:nth-child(even) {
    background-color: #252534;
}
