body {
    height: 1vh;
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

#header{
    background-color: #211F2A;
    height: 1vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header #logo{
    margin: 3%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    width: 50%;
}

#header #biblio{
    margin: 3%;
    font-size: 1.5em;
}

#header #ajoutJeu{
    margin: 3%;
    font-size: 1.5em;

}

#header #classement{
    margin: 3%;
    font-size: 1.5em;

}

#header #profil{
    margin: 3%;
    font-size: 1.5em;

}



