body {
    height: 10vh;
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

#header{
    background-color: #211F2A;
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header #logo{
    margin: 3%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    width: 50%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 3%;
    font-size: 1.5em;
}
