body {
    background: #211F2A;
    color: #fff;
    font-family: Barlow;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.flex_space_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    padding: 0px 120px;    
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right {
    display: flex;
    width: 50%;
}

.heading {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.petit_text {
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 30px 0px;    
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 25%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    background: #2B2F40;
    color: #ffffff;
    font-family: Barlow;
}

.form button{
    display: flex;
    height: 36px;
    width: 10%;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

button{
    border-radius: 10px;
    background: #6757D6;
    color: #ffffff;
    font-family: Barlow;
    border: none;
    padding: 10px 20px;
}

.img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}